{% extends "core/base.html" %}
{% block content %}
{% load static %}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url({% static 'core/img/slide/slide-1.jpg' %})">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Soluciones de desarrollo web personalizado</h2>
                        <p class="animate__animated animate__fadeInUp">Ya sea que necesite un sitio web desarrollado recientemente para mejorar la participación del cliente, un portal web para mejorar la visibilidad y organización, o una aplicación web sólida y rica en funciones para automatizar los procesos comerciales, Chetu tiene la solución.</p>
                        <a href="{% url 'services:service_list' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Servicios</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url({% static 'core/img/slide/slide-2.jpg' %})">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Un modelo novedoso</h2>
                        <p class="animate__animated animate__fadeInUp">Interacción Local y Transparente
                            Comunicación en Tiempo Real Responsable
                            Desarrolladores Dedicados a Tiempo Completo.</p>
                        <a href="{% url 'services:service_list' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Servicios</a>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url({% static 'core/img/slide/slide-3.jpg' %})">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Servicio productivo y accesible</h2>
                        <p class="animate__animated animate__fadeInUp">Sin Sobretiempo o Tarifas Ocultas
                            Gestión en Control de Calidad sin Costos
                            Ahorre entre 50 - 75% en Gastos de Desarrollo.</p>
                        <a href="{% url 'services:service_list' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Servicios</a>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section>
<!-- End Hero -->

<main id="main">

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title">
                <h2>Dev</h2>
                <p>Desarrollo Web Empresarial</p>
            </div>

            <div class="row faq-item d-flex align-items-stretch">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h4>Servicios de Desarrollos de Aplicaciones Web</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Nuestros desarrolladores de back-end son expertos en Java, PHP, Ruby, Python, SQL y más, mientras que nuestros diseñadores de front-end están bien versados en el uso de JavaScript, CSS3, HTML5 y más.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h4>Servicios de Desarrollo de Aplicaciones Móviles</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Utilizando todos nuestros años de experiencia en el desarrollo de aplicaciones móviles, nuestro equipo de desarrollo de aplicaciones móviles le ayudará a crear experiencias fluidas y sin problemas en cualquier dispositivo móvil.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h4>Soluciones Corporativas de Desarrollo Web</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Utilizamos API personalizadas y nuestro vasto conocimiento de servicios web para crear aplicaciones web empresariales para marketing digital, CRM, control de inventario, flujos de trabajo acelerados y mucho más.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h4>Soluciones de Desarollo Web Full-Stack</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Nuestros desarrolladores web expertos de Full-Stack están altamente capacitados en lenguajes de programación Java y SQL con experiencia en aplicaciones líderes de 12 factores e implementación de plataformas en la nube.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch">
                <div class="col-lg-5">
                    <i class="bx bx-help-circle"></i>
                    <h4>Desarrollo de Portales Web</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Nuestros desarrolladores de portales web tienen experiencia en ingeniería y un profundo conocimiento del sector empresarial para crear soluciones confiables y sólidas que ayuden a las empresas a administrar sus flujos de trabajo.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

        </div>
    </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

{% endblock %}