{% extends "core/base.html" %}
{% block content %}
{% load static %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Contacto</h2>
                <ol>
                    <li><a href="{% url 'core:home' %}">Inicio</a></li>
                    <li>Contacto</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div>
                <iframe style="border:0; width: 100%; height: 270px;"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1861.9480902638095!2d-89.60272082655231!3d21.036839685302027!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f56779bef7ed73f%3A0xe31e15740efbfeb5!2sCity%2032!5e0!3m2!1ses!2smx!4v1666551327049!5m2!1ses!2smx"
                    frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Ubicación:</h4>
                            <p>C. 17 299, Fundura Montebello, 97113 Mérida, Yuc.</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>ia-web@hotmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Celular:</h4>
                            <p>+52 999 238 245</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">
                    <form action='' method='post'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text-danger">Nombre:</label>
                            <div class="input-group mb-2">
                                {{form.name}}
                            </div>
                            {{form.name.errors}}
                        </div>

                        <div class="form-group">
                            <label class="text-danger">Email:</label>
                            <div class="input-group mb-2">
                                {{form.email}}
                            </div>
                            {{form.email.errors}}
                        </div>

                        <div class="form-group">
                            <label class="text-danger">Mensaje:</label>
                            <div class="input-group mb-2">
                                {{form.content}}
                            </div>
                            {{form.content.errors}}
                        </div>
                        <br>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>

{% endblock %}